{% extends "base.html" %}
{% block body %}
{% for vote in votes  %}
<p>____________________________________________</p>
Голосование: <a href = "{% url 'vote:vote-published' vote.option.vote_model.pk %}">{{vote.option.vote_model.name}} </a><br>
Ваш выбор: {{vote.option.choice}} 
{% empty %}
<h1>Вы не прошли никакие голосования</h1>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}">Предыдущая</a>
        {% endif %}
        <span class="current">
            Страница {{ page.number }} из {{ page.paginator.num_pages }}.
        </span>
        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">Следующая</a>
        {% endif %}
    </span>
</div>
{% endblock body %}